@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}


html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    background-color: #f2f2f2;
}